.pulsing-circle {
    position: fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: pulse 2.5s infinite;
    z-index: 100 ;
}

@keyframes pulse {
    0%, 100% {
        width: 150px;
        height: 150px;        opacity: 1;
        background-color: rgb(239 204 0);;
    }
    50% {
        opacity: 0.1;
        background-color: #eaf7ff;
        width: 50px;
        height: 50px;
    }
}